body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    color: #333;
}
a {
    color: #333 !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
    border-top: 1px solid #ddd;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #fff;
}

.page {
    position: relative;
    flex: 0 0 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 20px;
    animation: slideUp 1s ease-in-out;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.page .overlay {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
